﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>#{applicationViewController.name}</title>
<link rel="stylesheet" type="text/css" href="resources/css/menu.css" />
<link rel="stylesheet" type="text/css" href="resources/css/openqa.css" />
<style type="text/css">
.aboutInfoGraphBox {
	vertical-align: top;
}
</style>
</h:head>
<h:body
	style="height: 100%; width: 100%; margin: 0px; font-family: arial, sans-serif">
	<!--START FLOAT MENU-->
	<!-- Barra superior -->
	<div
		style="position: relative !important; top: 0px; left: 0px; z-index: 3;">
		<div id="menu" class="menu"
			style="height: 38px; font-size: 12px; font-weight: bold; vertical-align: middle; background-color: black;">
			<div style="padding-top: 10px; float: left;">
				<a style="margin-left: 15px; text-decoration: none;" href="./">
					<span>Search</span>
				</a> 
				<a style="margin-left: 15px; color: white; text-decoration: none;"
					href="samples.xhtml"> <span>Samples</span>
				</a>
				<a style="margin-left: 15px; text-decoration: none;"
					href="api.xhtml"> <span>API</span>
				</a>
				<a style="margin-left: 15px; text-decoration: none;" target="_blank"
					href="http://openqa.aksw.org"> <span>openQA</span>
				</a>
			</div>
			<span> <a class="button_p"
				style="float: right; height: 30px; width: 64px; margin-top: 3px; margin-right: 15px; text-align: center; vertical-align: middle;"
				href="admin/manager.xhtml"> <img style="margin-top: 3px;"
					height="26" width="26" src="resources/images/settings.png"
					alt="Manager" />
			</a>
			</span>
		</div>
	</div>	
	<div
		style="background-color: rgb(241, 241, 241); box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25); margin: 10px; padding: 0px 10px 10px 10px;">
		<h1>Search Samples</h1>
		<div>
			<div style="padding: 0px 10px 10px 10px;">
				<h:outputText>
					<h2>Entities</h2>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=Louis Pasteur">Louis
											Pasteur</a>
								</span></li>
							</ul>
						</div>
					</div>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=Ayrton Senna">Ayrton Senna</a>
								</span></li>
							</ul>
						</div>
					</div>
					<h2>Geo Entities</h2>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=Leipzig">Leipzig</a>
								</span></li>
							</ul>
						</div>
					</div>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=Berlin">Berlin</a>
								</span></li>
							</ul>
						</div>
					</div>
					<h2>Sets</h2>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=give me Apollo 14 astronauts">give
											me Apollo 14 astronauts</a>
								</span></li>
							</ul>
						</div>
					</div>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank"
										href="search.xhtml?q=List the children of Margaret Thatcher">List
											the children of Margaret Thatcher.</a>
								</span></li>
							</ul>
						</div>
					</div>
					<h2>Others</h2>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=What is the longest river">What
											is the longest river?</a>
								</span></li>
							</ul>
						</div>
					</div>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li><span class="ui-messages-info-summary"> <a
										target="_blank" href="search.xhtml?q=Who developed Minecraft">Who
											developed Minecraft?</a>
								</span></li>
							</ul>
						</div>
					</div>
					<div class="ui-messages ui-widget"
						style="max-width: 500px; text-align: left; font-size: 12px;"
						aria-live="polite" data-summary="data-summary"
						data-detail="data-detail">
						<div class="ui-messages-info ui-corner-all">
							<ul>
								<li>
									<span class="ui-messages-info-summary"> <a
										target="_blank"
										href="search.xhtml?q=What is the time zone of Salt Lake City">What
											is the time zone of Salt Lake City</a>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</h:outputText>
			</div>
		</div>
	</div>
	<!--  /ui:repeat-->
</h:body>
</html>