.button_robot {
	border: 1px solid #495267;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #606c88;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88),
		to(#3f4c6b));
	background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
	background-image: linear-gradient(to bottom, #606c88, #3f4c6b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#606c88, endColorstr=#3f4c6b);
}

.button_robot:hover {
	border: 1px solid #363d4c;
	background-color: #4b546a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4b546a),
		to(#2c354b));
	background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
	background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
	background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
	background-image: -o-linear-gradient(top, #4b546a, #2c354b);
	background-image: linear-gradient(to bottom, #4b546a, #2c354b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4b546a, endColorstr=#2c354b);
}

.button_go {
	border: 1px solid #34740e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4ba614;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614),
		to(#008c00));
	background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	background-image: -o-linear-gradient(top, #4ba614, #008c00);
	background-image: linear-gradient(to bottom, #4ba614, #008c00);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4ba614, endColorstr=#008c00);
}

.button_go:hover {
	border: 1px solid #224b09;
	background-color: #36780f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f),
		to(#005900));
	background-image: -webkit-linear-gradient(top, #36780f, #005900);
	background-image: -moz-linear-gradient(top, #36780f, #005900);
	background-image: -ms-linear-gradient(top, #36780f, #005900);
	background-image: -o-linear-gradient(top, #36780f, #005900);
	background-image: linear-gradient(to bottom, #36780f, #005900);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#36780f, endColorstr=#005900);
}

.button_p {
	background-image: -webkit-linear-gradient(top, #E6E6E6, #919191);
	background-image: -moz-linear-gradient(top, #E6E6E6, #919191);
	background-image: -ms-linear-gradient(top, #E6E6E6, #919191);
	background-image: -o-linear-gradient(top, #E6E6E6, #919191);
	background-image: linear-gradient(to bottom, #E6E6E6, #919191);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#E6E6E6, endColorstr=#919191);
}

.button_p:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BDB8B8),
		to(#B4B4B4));
	background-image: -webkit-linear-gradient(top, #BDB8B8, #B4B4B4);
	background-image: -moz-linear-gradient(top, #BDB8B8, #B4B4B4);
	background-image: -ms-linear-gradient(top, #BDB8B8, #B4B4B4);
	background-image: -o-linear-gradient(top, #BDB8B8, #B4B4B4);
	background-image: linear-gradient(to bottom, #BDB8B8, #B4B4B4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#BDB8B8, endColorstr=#B4B4B4);
}

.button_openqa.primary,.button_openqa.action,.button_openqa.cancel,.button_openqa.choice {
	color: #fff;
	text-decoration: none;
}

.button_openqa {
	color: #fff;
	text-decoration: none;
}

.button_openqa:link {
	color: #fff;
	text-decoration: none;
}

.button_openqa:hover {
	color: #fff;
	text-decoration: none;
}

.button_openqa:active {
	color: #fff;
	text-decoration: none;
}

.button_openqa:visited {
	color: #fff;
	text-decoration: none;
}

#searchInput:hover {
	border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185)
		!important;
}

#searchInput {
	color: black;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	outline: 0px none;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}